repos/*

data/github_commits/parquet/filtered_github_data_large/commits_pr_Azure___azure-cli.parquet
data/github_commits/parquet/filtered_github_data_large/commits_push_Azure___azure-sdk-for-python.parquet
data/github_commits/parquet/filtered_github_data_large/commits_push_dagster-io___dagster.parquet
data/github_commits/parquet/filtered_github_data_large/commits_pr_ray-project___ray.parquet
data/github_commits/parquet/top200_downloads.parquet

logs.txt
repos2/*
data/package_downloads/top200_downloads.parquet

*.DS_Store
*.ipynb_checkpoints/

data/aggregated_data/*
data/merged_data/*
data/queries/*
data/github_raw/*

*.txt
*.err
*.out