data/github_commits/parquet/commits_pr_Azure___azure-cli.parquet
.gitignore
repos/*
collect_commit_data.sh
collect_commit_data_pr.sh
collect_commit_data_pr.py
data/github_commits/parquet/commits_push_Azure___azure-sdk-for-python.parquet
data/github_commits/parquet/commits_push_dagster-io___dagster.parquet
logs.txt
repos2
