data/github_commits/parquet/commits_pr_Azure___azure-cli.parquet
.gitignore
repos/*
data_new
data/queries
*.DS_Store
*.ipynb_checkpoints/


data/github_commits/parquet/commits_push_Azure___azure-sdk-for-python.parquet
data/github_commits/parquet/commits_push_dagster-io___dagster.parquet
